body {
    padding-top: 4%;
    background-image: url('pentagon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 65%;
    background-size: 52.2% 90%; 
}

h1 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 400%;
    margin: auto;
    text-align: center;
}

h2 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 200%;
    margin: auto;
    text-align: center;
}

form {
    position: fixed;
    width: 165px;
    margin: auto;
}